<!DOCTYPE html>
    <html>
    <head>
      <title>Restaurant</title>
      <%= stylesheet_link_tag "application" %>  <%= javascript_include_tag "application" %>
    
      <%= csrf_meta_tag %>
    </head>
    <body>
    <div id="header">
    <h1>The Restaurant Review</h1>
    <h4>    Finding places to eat</h4>
    </div>
    <div id="content">
    <div id="navigation">
    <h2>Welcome</h2>
    <br />
    <strong><%= link_to 'Home', '/reviews' %><br /><br /></strong>
    <strong><%= link_to 'Login to post', { :action => :login} %><br /></strong>
    <p style="color: green"><%= flash[:notice] %></p>
    <strong><%= link_to 'Register for free login', {:action => :register} %><br /></strong>
    
    <strong><%= link_to 'Post a new review', new_review_path %><br /></strong>
    <br />
    <%= form_tag :action => 'search' do %>
    <label><font color="#663300" size="-1">Search for review:</font> </label>
    <%= text_field_tag :searchFor %>
    <%= submit_tag "Find" %>
    <% end %>
    </div>
    <div id="main">
    <p style="color: green"><%= flash[:notice] %></p>
    <%= yield  %>
    </div>
    <div id="news">
    <h2>What's cookin'</h2><br />
    The latest restaurant news<br />
    <%= render( :partial => "news") %>
    </div>
    </div>
    <div id="footer">
    <a href="mailto:myuser@myhost.com"><font size="1">Contact Us</font></a><font size="1"> | &copy;2012 Your Name </font>
    </div>
    </body>
    </html> 